#map-canvas
{
    width : 550px; 	/* map width */
    height: 550px;	/* map height */
    margin: auto;
}
.info {
    margin: auto;
}

.dropdown {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

#wrap {
    width:500px;
    margin: auto;
}
#left_col {
    padding-top: 30px;
    float:left;
    width:250px;
}
#right_col {
    padding-top: 30px;
    float:right;
    width:250px;
}
